.aboutMain {
    background: var(--light);
    padding-top: 140px;

}

.container {
    /* margin-left: 100px; */
    /* margin-left: 8%; */
    /* width: 85%; */
    padding: 0 34px;
}

.container h2 {
    /* display: block; */
    font-family: var(--montserrat);
    font-size: 36px;
    font-weight: 900;
    /* line-height: 71px; */
    /* letter-spacing: 0em; */
    /* text-align: left; */
    color: var(--braun);
    margin-bottom: 11px;
}

.aboutStore {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 72px; */
}

.about h3 {
    display: none;
    font-family: var(--montserrat);
    font-size: 25px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--braun);
}

.about p {
    max-width: 686px;
    font-family: var(--montserrat);
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--braun);
}
.image{
    width: 30%;
}
.image img {
    /* width: 570px; */
    /* height: 310px; */
    width: 100%;
}

@media screen and (max-width:1270px) {

    .container h2{font-size: 25px;
        font-weight: 900;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;}

    .aboutStore {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }

    .about h3 {
        display: block;
    }
    .about p {
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    .image{align-items: center;
    justify-content: center;}
    .image img {
        width: 296px;
        height: 161px;
    }

    .about p {
        text-align: center;
    }
}