@import url('./reset.css');
@import url('./root.css');


body::-webkit-scrollbar{
  width: 6px;
}
body::-webkit-scrollbar-track{
  /* background: #ccc; */
}
body::-webkit-scrollbar-thumb{
  background: var(--orange);
}

/* modal */

.modal_inner_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}

.modal_content p {
  text-align: center;
  font-family: var(--montserrat);
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 20px;
}

.modal_content input {
  border: 1px solid #cecece;
  margin-bottom: 34px;
  width: 100%;
  border-radius: 5px;
  padding: 18px 52px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--montserrat);
  color: var(--braun);
}

.modal_content input:focus {
  outline: none;
  transition: all 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.modal_content button {
  color: #fff;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  border: 1px solid var(--orange);
  background: var(--orange);
  padding: 22px 0px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.modal_content button:hover {
  box-shadow: 0 0 20px 2px var(--orange);
}

/* modal for responsive */

.navbarResponsive {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  transition: 0.3s ease-in-out;
}

.navbarResponsiveContent {
  background: #241400bf;
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.responsiveNavUll {
  padding: 0px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 28px;
}

.responsiveNavUll a {
  text-decoration: none;
  color: #fff;
}

.responsiveNavUll li:hover {
  color: #cecece;
  transition: all 0.3s;
}

.nav_active_li {
  color: var(--orange) !important;
  border-bottom: 1px solid var(--orange);
}

.close {
  position: absolute;
  top: 0;
  right: 6px;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.close:hover {
  color: #ff0000;
}

/* navbar */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  position: fixed;
  background: #fffaf52b;
  backdrop-filter: blur(10px);
  z-index: 90;
}

.nav_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.nav_active_a {
  color: var(--orange) !important;
  border-bottom: 1px solid var(--orange);
}

.nav_items a {
  text-decoration: none;
  color: var(--braun);
  font-family: var(--montserrat);
  font-size: 14px;
  transition: all 0.3s;
}

.nav_items a:hover {
  color: var(--orange);
}

.join_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.join_div button {
  font-family: var(--roboto);
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 8px;
  transition: all 0.3s;
}


.join_div button:hover {
  color: var(--orange);
}

#hamburgerMenu {
  display: none;
}

/* footer */

.footerIconsBox {
  background: var(--light);
  padding: 134px 0px;
  text-align: center;
}

.footerIconsBox p {
  color: var(--braun);
  font-family: var(--montserrat);
  font-size: 25px;
  font-weight: 900;
}

.footerIcons a i {
  margin: 24px;
  transition: all 0.3s ease-in-out;
  color: #241400;
}
.footerIcons a i:hover {
  transform: scale(1.1);
}
.footerIcons a #facebook:hover {
  color: #0866ff;
}
.footerIcons a #twitter:hover {
  color: #1d9bf0;
}
.footerIcons a #instagram:hover {
  color: #ff008e;
  padding: 0;
}
/* footer copywriter (bottom) */

.footerBoxes {
  background: var(--light_braun);
  display: flex;
  justify-content: space-around;
  padding: 56px 128px 100px;
  color: #fff;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 30%;
}

.footer_logo_title {
  width: 100%;
}

.footerLogo h5 {
  font-family: var(--montserrat);
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 2px;
}

.footerLogo hr {
  margin: 0px;
  width: 70%;
}

.footerLogo h6 {
  font-family: var(--montserrat);
  font-size: 13px;
}

.footer_items_container {
  width: 100%;
  /* margin-left: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: start;

  /* gap: 20px;  */
}

.footer_popular_items,
.footer_cash_items,
.footer_help_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 100px; */

  font-family: var(--montserrat);
}

.footer_items_title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}

.footer_popular_items,
.footer_cash_items,
.footer_help_items li {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  transition: all 0.3s ease-in-out;
}

.footer_popular_items li:hover {
  color: #cecece;
  cursor: pointer;
}

.footer_help_items li:hover {
  color: #cecece;
  cursor: pointer;
}

.footer_cash_items li:hover {
  color: #cecece;
  cursor: pointer;
}

.footer_contact_div {
  margin: auto 0px;
  width: 30%;
  font-family: var(--montserrat);
}

.footer_contact_div p {
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 900;
  /* line-height: 196.187%; */
  /* margin: auto; */
  margin-bottom: 20px;
}

.footer_contact_div a {
  background: none;
  border: 1px solid var(--orange);
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 6px 36px 6px 6px;
  transition: all 0.3s;
}

.footer_contact_div a:hover {
  color: #fff;
  background: var(--orange);
}

.copywriter_text {
  color: #fff;
  padding-bottom: 20px;
  background: var(--light_braun);
  font-family: var(--montserrat);
  font-size: 12px;
  text-align: center;
}

.footer_nav_items {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  padding: 20px 0px;
  gap: 8px;
}

.footer_nav_items a {
  text-decoration: none;
  color: #fff;
  font-family: var(--montserrat);
  font-size: 10px;
  font-weight: 400;
  line-height: 196.187%;
  cursor: pointer;
  transition: all 0.3s;
}

.footer_nav_items a:hover {
  color: #cecece;
}

/* Responsive */

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .list_div {
    margin: 0px;
  }

  .footerIconsBox {
    padding: 90px;
  }

  .footerIcons {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .footer_items_container {
    margin: 0px auto;
    gap: 0px;
  }

  .footerBoxes {
    padding: 56px 20px 100px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
  .navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #hamburgerMenu {
    display: block;
  }

  .list_div {
    display: none;
  }

  .footerLogo {
    margin: 0px auto;
  }

  .footerIconsBox {
    padding: 90px;
  }

  .footerIcons {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .footer_items_container {
    margin: 0px auto;
    gap: 0px;
    padding: 0px;
  }

  .footer_items_container ul {
    padding: 0px;
  }

  .footer_contact_div button {
    font-size: 12px;
  }

  .footerBoxes {
    flex-direction: column;
    padding: 46px 10px;
    gap: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px;
    justify-content: space-between;
  }
  #joinUsBtn {
    display: none;
  }
  #hamburgerMenu {
    display: block;
  }
  #humburger {
    width: 22px;
  }
  .list_div {
    display: none;
  }
  .footer_items_container {
    display: none;
  }
  .footer_contact_div {
    display: none;
  }
  .footerIconsBox {
    padding: 60px 0px;
  }
  .footerIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .footerIcons a i{
    font-size: 3em;
    gap: 0;
    margin: 16px;
  }
  .footerIconsBox p {
    font-size: 20px;
  }
  .footerIconsBox img {
    width: 12%;
  }
  .footerBoxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
  }
  .footerLogo {
    width: 250px;
    padding: 0px 10px;
  }
  .footer_nav_items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px 12px;
    color: var(--main_grey);
  }
  .copywriter_text {
    font-size: 8px;
  }

  /* modal */
  .modal_inner_div {
    padding: 0px;
  }

  .modal_inner_div p {
    font-size: 30px;
  }

  .modal_content input {
    padding: 18px 22px;
    margin-bottom: 20px;
  }

  .modal_content button {
    margin-top: 0px;
    font-size: 14px;
  }
}
