.isShowBtn {
    position: fixed;
    bottom: -150px;
    right: 15px;
    font-size: 22px;
    opacity: 1;
    z-index: 999;
    display: block;
    background-color: var(--orange);
    cursor: pointer;
    color: white;
    border-radius: 50%;
    padding: 12px 18px;
    transition: .3s ease-in-out;

    &.bottom-active {
        bottom: 50px;
    }

    &:hover {
        /* background-color: #473c3c; */
        margin-bottom: 5px;
        padding-bottom: 16px;
    }
}